#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.swiper-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.custom-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.custom-prev,
.custom-next {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #555;
}

.swiper-container > .swiper {
  margin-left: 25%;
}

@media screen and (max-width: 768px) {
  .swiper-container > .swiper {
    margin-left: 5%;
  }
}
